{% extends 'base.html' %}

{% block content %}
<html>
<title>Login page</title>


<body>
<form action="login" method ="post">
        {% csrf_token %}
<h1>Login page</h1>
<label><b>User Name
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <input type="submit" >
</form>
        <br><br>
<form action="add">
Enter 1st number : <input type="number" name= "num1"><br><br>
Enter 2nd number : <input type="number" name= "num2"><br><br>
<input type="submit">
</form>

</body>
</html>

{% endblock %}